.AnimatedMoviesList {
  background-color: black;
  padding-bottom: 30px;
}

.Animated-Movies-List-images {
  width: 100%;
  height: auto;
  max-height: 212px;
  object-fit: cover;
}

.animated-movies-list-title {
  padding-top: 33px;
  color: #FFF;
  text-align: left;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}