.AdventureMoviesList {
  background-color: black;
}

.adventure-movies-list-title {
  padding-top: 33px;
  color: #FFF;
  text-align: left;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}

