.movie-list-title {
  color: #FFF;
  text-align: left;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}

.movie-list-images {
  width: 150px;
  height: 200px;
}