.ComedyMovieList {
  background-color: black;
}

.comedy-movie-list {
  padding-top: 33px;
  color: #FFF;
  text-align: left;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}

.comedy-movie-list-images {
  width: 100%;
  height: auto;
  max-height: 212px;
  object-fit: cover;
}