.GenresList {
  background-color: #050505;
}

.genres-list-images {
  width: 100%;
  height: auto;
  max-height: 212px;
  object-fit: cover;
}

.Genres-list-title {
  padding-top: 34px;
  color: #FFF;
  text-align: left;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}